<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>쓰레기 공작소</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/encyclopedia.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="icon" href="/images/leaf.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <script
      src="https://t1.kakaocdn.net/kakao_js_sdk/2.2.0/kakao.min.js"
      integrity="sha384-x+WG2i7pOR+oWb6O5GV5f1KN2Ko6N7PTGPS7UlasYWNxZMKQA63Cj/B2lbUmUfuC"
      crossorigin="anonymous"
    ></script>
    <script>
      Kakao.init("<%= KAKAO_JAVASCRIPT_KEY%>");
    </script>
  </head>
  <body>
    <%- include('components/header.ejs') %>
    <div class="container">
      <a class="prev-page" href="/wiki"> &lt; 도감 목록으로 이동 </a>
      <div class="item">
        <p class="item-name"><%= wiki.name %></p>
        <p class="item-id">#<%= wiki.id %></p>
        <img src="/images/wiki/<%= wiki.image%>" alt="도감 아이템 사진" />
        <nav class="trash-type">
          <% for (let i = 0; i < wiki.trash_type.length; i++) { %>
          <div class="type-<%= i + 1 %>"><%= wiki.trash_type[i]%></div>
          <% } %>
        </nav>
        <p class="item-description"><%= wiki.details %></p>
        <!---->
        <a id="kakaotalk-sharing-btn" href="javascript:shareMessage()">
          <img
            src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
            alt="카카오톡 공유 보내기 버튼"
          />
        </a>

        <hr />
        <!---->
        <p class="description">해당 쓰레기를 도감에 등록한 유저:</p>

        <div class="users">
          <% for (let i = 0; i < wiki.users.length; i++) { %>
          <a class="user" href="/profile/<%=wiki.users[i].username%>">
            <img
              src="/images/profiles/<%=wiki.users[i].profile%>.png"
              alt="유저 프로필"
            />
            <span class="user-name"><%= wiki.users[i].username%></span>
          </a>
          <% } %>
        </div>
      </div>
    </div>

    <div class="footer-area"></div>
    <div class="footer">&copy; 쓰레기 공작소 2023</div>
    <script>
      function shareMessage() {
        Kakao.Share.createDefaultButton({
          container: "#kakaotalk-sharing-btn",
          objectType: "feed",
          content: {
            title: "<%= wiki.name%>",
            description: "<%= wiki.details%>",
            imageUrl:
              "https://project-omega-woad.vercel.app/images/wiki/<%= wiki.image%>",
            link: {
              mobileWebUrl: "https://developers.kakao.com",
              webUrl: "https://developers.kakao.com",
            },
          },
          buttons: [
            {
              title: "웹으로 이동",
              link: {
                mobileWebUrl: "https://developers.kakao.com",
                webUrl: "https://developers.kakao.com",
              },
            },
          ],
        });
      }
    </script>
    <script
      src="https://kit.fontawesome.com/dfb093cc90.js"
      crossorigin="anonymous"
      type="text/javascript"
      async
    ></script>
  </body>
</html>
