<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/home.css" />
    <link rel="stylesheet" type="text/css" href="/styles/wiki.css" />
    <link rel="icon" href="/images/leaf.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>쓰레기 공작소</title>
  </head>
  <body>
    <%- include('components/header.ejs') %>
    <div class="container">
      <div class="title">
        <img src="/images/block.png" alt="block" />
        <h2>쓰레기 도감</h2>
        <img src="/images/block.png" alt="block" />
      </div>
      <div class="items">
        <% for (let i = 0; i < wikis.length; i++) { %> <% if (wikis[i].hidden) {
        %>
        <a class="item hidden" href="/wiki/<%= wikis[i]._id %>">
          <img src="/images/wiki/<%= wikis[i].image %>" />
          <span class="id">#<%= wikis[i].id %></span>
          <span class="name">????</span>
          <div class="types">
            <% for (let j = 0; j < wikis[i].trash_type.length; j++) { %>
            <span class="type-<%= j + 1 %>">???????</span>
            <% } %>
          </div>
        </a>
        <% } else { %>
        <a class="item" href="/wiki/<%= wikis[i]._id %>">
          <img src="/images/wiki/<%= wikis[i].image %>" />
          <span class="id">#<%= wikis[i].id %></span>
          <span class="name"><%= wikis[i].name %></span>
          <div class="types">
            <% for (let j = 0; j < wikis[i].trash_type.length; j++) { %>
            <span class="type-<%= j + 1 %>"><%= wikis[i].trash_type[j] %></span>
            <% } %>
          </div>
        </a>
        <% } %> <% } %>
      </div>
    </div>
    <div class="footer">&copy; 쓰레기 공작소 2023</div>
    <!-- 
        background image sourced from
        <a href="https://www.freepik.com/free-vector/flat-recycling-landing-page-template_5070957.htm#page=2&query=recycling%20landing%20page&position=6&from_view=search&track=ais">Image by pikisuperstar</a> on Freepik
        icons sourced from
        flaticon.io
      -->
    <script
      src="https://kit.fontawesome.com/dfb093cc90.js"
      crossorigin="anonymous"
      type="text/javascript"
      async
    ></script>
    <script>
      let isOpened = false;
      const navbar = document.querySelector("div.navbar");
      document
        .getElementById("toggle")
        .addEventListener("click", function (event) {
          if (isOpened) {
            navbar.className = "navbar animate__animated animate__fadeOutUp";
            setTimeout(() => {
              navbar.style.display = "none";
            }, 500);
          } else {
            navbar.style.display = "flex";
            navbar.className = "navbar animate__animated animate__fadeInDown";
          }
          isOpened = !isOpened;
        });
    </script>
  </body>
</html>
